main,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

:root {
  --light-background: rgb(255, 183, 197);
  --light-header: rgb(227, 234, 240);
  --light-font: rgb(238, 131, 193);
  --light-options-button: rgb(202, 202, 202);

  --dark-background: rgb(95, 93, 93);
  --dark-header: rgb(68, 76, 80);
  --dark-font: rgb(107, 107, 109);
  --dark-options-button: rgb(47, 61, 165);

  --header: rgb(232, 227, 213);
  --background: rgb(252, 188, 230);
  --font: rgb(3,5,232);
  --options-button: rgb(42,63,214);

}

  .dark {
   --background: var(--dark-background);
   --header: var(--dark-header);
   --font: var(--dark-font);
   --options-button: var(--dark-options-button);
   }

  .light {
    --background: var(--light-background);
    --header: var(--light-header);
    --font: var(--light-font);
    --options-button: var(--light-options-button);
  }
  
 body {
  background-color: var(--background);
  color: var(--font);
  height: 10vh;
}


h1 {
  margin: auto;
  width: 35%;
  font-size: 2rem;
  background-color: var(--header);
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
  
}

#theme-button {
  width:  5rem;
  height: 2rem;
  font-size: 0.7rem;
  position: absolute;
  background-color: white;
  left: 75px;
  margin-bottom: 50px;
  
}


.options-button {
  color: var(--font);
  size: 150%;
  width: 10rem;
  height: 2rem;
  background-color: var(--options-button);
}


.items-thing {
  width: 30%;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 300px ;
}

.item-name {
 font-size: 2rem;
 align-self: auto;
}

.item-image {
scale: 15%;
margin: 10px auto;
align-self: auto;
}

.item-price {
  font-size: 2rem;
  align-self: auto;
}

.item-description {
  font-size: 2rem;
  align-self: auto;
}