main,
body,
* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --light-background: rgb(255, 183, 197);
  --light-header: rgb(240, 248, 255);

  --dark-background: rgb(0, 0, 0);
  --dark-header: rgb(128, 128, 128);

  --header: rgb(232, 227, 213);
  --background: rgb(252, 188, 230);

}

  .dark {
   --background: var(--dark-background);
   --header: var(--dark-header);
  
   }

  .light {
    --background: var(--light-background);
    --header: var(--light-header);
  }
 body {
  background-color: var(--light-background);
  height: 90vh;
}


